.nav {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px;
    font-size: 2em;
    width: 80vw;
  }

  .smaller {
    font-size: .5em;
    color: lightblue;
  }

  .nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
  }